.main {
	text-align: center;
	display: flex;
	justify-content: center;
	background-color: #f2f1f5;
	height: 100vh;
}

.card {
	min-height: 50vh;
	width: 60vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form {
	height: 10vh;
    width: 40vh;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}

.button {
	width: vw;
	height: 5vh;
    align-self: center;
}

.button2 {
	width: 25vw;
	height: 5vh;
    align-self: center;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    align-content: center;
}

.vl {
    border-left: 1px solid;
  }
.box {
    margin: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    flex-direction: row;
}
.box:before {
    content: "";
    position:absolute;
    top: -30px;
    left: 50px;
    border: 15px solid transparent;
    border-bottom-color: white;
}