.main {
	text-align: center;
	display: flex;
	justify-content: center;
	background-color: #f2f1f5;
	height: 100vh;
}

.card {
	min-height: 50vh;
	width: 60vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form {
	height: 10vh;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}

.form2 {
	height: 20vh;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}

.button {
	width: 20vw;
	height: 5vh;
    align-self: center;
}

.button2 {
	width: 25vw;
	height: 5vh;
    align-self: center;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    align-content: center;
}

.vl {
    border-left: 1px solid;
  }